<div class="row">
  <% @bikes.each do |bike| %>
    <div class="card-group col-lg-3 col-md-4 col-sm-6 offset-sm-0 col-10 offset-1">
      <%= link_to bike_path(bike), class: "card my-3" do %>
        <%= raw bike.image('card-img-top') %>
        <div class="card-body">
          <h2 class="card-title">
          <%= bike.brand %>
          <%= bike.bike_type  %>
          <small>(<%= bike.year %>)</small>
          </h2>
          <p class="card-text">
           <i class="fas fa-map-marker-alt red"></i> <%= bike.location %>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <% if [@user_location, bike.latitude, bike.longitude].all? %>
            <%= Geocoder::Calculations.
            distance_between(@user_location, [bike.latitude, bike.longitude]).floor %>km away!
          <% else %>
            Unknown gps
          <% end %>
          <strong class="blue">$<%= bike.price %>/hr</strong>
        </div>
      <% end %>
    </div>
  <% end  %>
</div>
