<div class="container mt-3">
  <div class="row justify-content-center">

    <!-- user info card -->

    <div class="col-12 col-md-4 mt-4 mb-4">
      <div class="card-profile">
        <div class="card-profile-details">
          <img src="https://avatars2.githubusercontent.com/u/48371025?s=460&u=02dd54122579ec71d1ad246da2bffef2b9467945&v=4"/>
          <div class="card-profile-infos">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <p><%= @user.email %></p>
            <p><%= @user.phone_number %></p>
            <div class="card-profile-actions">
              <a href="#">Edit my profile</a><br />
              <a href="#">Delete my account</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKINGS ----------------->
    <div class="col-12 col-md-8 mt-4 mb-4">

    <h3> Bikes I rented </h3>
    <span>
      <% @my_bikes.each do |bike| %>
      <div class="card mb-2 p-2">
        <%= bike.year %> <%= bike.brand %> <%= bike.bike_type %><br/>
        DATE-BEGIN to DATE-END ($<%= bike.price %> * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <% end %>
    </span>

    <h3> My rentals:</h3>
      <div>
        <% @my_rentals.each do |rental|%>
        <div class="card mb-2 p-2">
          <p><%= rental.bike.brand %></p>
          <p><%= rental.rental_start.strftime("%m/%d/%y at %I:%M%p")%></p>
          <p><%= rental.rental_end.strftime("%m/%d/%y at %I:%M%p") %></p>
          <p><%= rental.booking_confirmed %></p>
          <p><%= rental.message %></p>
        </div>
        <% end %>
      </div>
    <hr>

    <h3> Rental Request Received:</h3>
      <div>
        <% @rental_request_received.each do |rental|%>
        <div class="card mb-2 p-2">
          <p><%= rental.bike.brand %></p>
          <p><%= rental.rental_start.strftime("%m/%d/%y at %I:%M%p")%></p>
          <p><%= rental.rental_end.strftime("%m/%d/%y at %I:%M%p") %></p>
          <p><%= rental.booking_confirmed %></p>
          <p><%= rental.message %></p>
          <%= link_to "Accepted", accepted_path(rental), method: :patch %>
          <%= link_to "Rejected", rejected_path(rental), method: :patch %>
        </div>
        <% end %>
      </div>
    <hr>

    <h3> My bikes rented </h3>
    <span>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
      <div class="card mb-2 p-2">
        YEAR BRAND TYPE<br/>
        DATE-BEGIN to DATE-END ($PRICE * TOTAL)<br />
        USER_RENTED   *** StarRating
      </div>
    </div>

    </div>
  </div>
