<div class="container mt-3">
  <div class="row justify-content-center">

    <!-- user info card -->

    <div class="col-12 col-md-4 mt-4 mb-4">
      <div class="card-profile">
        <div class="card-profile-details">
          <% if current_user.first_name == "Ryan" %>
            <img src="https://kitt.lewagon.com/placeholder/users/ryanbuckleyca"/>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/mynameisnirali"/>
          <% end %>

          <div class="card-profile-infos">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <p><%= @user.email %></p>
            <p><%= @user.phone_number %></p>
            <div class="card-profile-actions">
              <a href="#">Edit my profile</a><br />
              <a href="#">Delete my account</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKINGS ----------------->
    <div class="col-12 col-md-8 mt-4 mb-4">

    <h3> Bikes I own:</h3>
    <span>
      <% @my_bikes.each do |bike| %>
      <div class="card mb-2 p-0">
        <div class="card-profile-details m-3 align-items-start" style="display:flex !important">
          <div class="align-left">
            <%= raw bike.image %>
          </div>
          <div class="px-3 w-100">
            <h2 class="card-title">
              <%= bike.brand %> <%= bike.bike_type %> <small>(<%= bike.year %>)</small>
            </h2>
            <div>
              <i class="fas fa-map-marker-alt red"></i> <%= bike.location %><br>
              <i class="fas fa-arrows-alt-v"></i> <%= bike.frame_size %>cm frame<br>
              <div class="d-flex justify-content-between">
                <strong class="blue">$<%= bike.price %>/hr</strong>
                <div>
                  <i class="fas fa-edit blue"></i>
                  <i class="far fa-trash-alt red"></i>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </span>
    <hr>

    <h3> Bikes I rent from others:</h3>
      <span>
        <% @my_rentals.each do |rental|%>
          <%= render partial: 'shared/rentalcard', locals: { rental: rental } %>
        <% end %>
      </span>
    <hr>

    <h3> Bikes others rent from me:</h3>
      <div>
        <% @rental_request_received.each do |rental|%>
          <%= render partial: 'shared/rentalcard', locals: { rental: rental } %>
        <% end %>
      </div>

    </div>
  </div>
