   <div class="container mt-3">
     <div class="row justify-content-center">
      <!-- bike details and form -->

       <div class="col-sm-12 col-md-6">
        <div class="card p-2">
          <div class="card-details">
            <div class="align-center mt-3 ml-3">
              <%= raw @bike.image(225, 225, '') %>
            </div>
            <div class="px-3 mt-3">
              <h2 class="card-title">
              <%= @bike.brand %>
              <%= @bike.bike_type  %>
              <small>(<%= @bike.year %>)</small>
              </h2>

              <div>
              <i class="fas fa-map-marker-alt red"></i> <%= @bike.location %><br>
              <i class="fas fa-arrows-alt-v"></i> <%= @bike.frame_size %>cm frame size<br>
              <br>
                <strong class="blue">$<%= @bike.price %>/hr</strong>
              </div>
            </div>
          </div>
          <div class="m-3">
            <!--  using flatpickr for this
                  config in application.js / application.css -->
            <%= simple_form_for [ @bike, @rental ] do |f| %>
              <%= f.input :rental_start,
                  as: :string %>
              <%= f.input :rental_end,
                  as: :string %>
              <%= f.input :message %>
              <%= f.button :submit, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>


      <!-- map -->
       <div class="col-sm-12 col-md-6">
         <div id="map"
         style="width: 100%; height: 400px;"
         data-markers="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
       </div>
      </div>
   </div>

    <!-- see more bikes -->
    <div class="container">
    <h2 class="mb-4 mt-4 ml-4">Other bikes near you</h2>

    <%= render 'shared/bikesgrid' %>
    </div>
  </div>
</div>


