  <!-- bike details   -->
<div class="banner" style="padding: 5vh 0 15vh; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)), url(https://res.cloudinary.com/ryanbuckleyca/image/upload/v1597859027/Screen_Shot_2020-08-19_at_1.42.12_PM_lcvndv.png);">

  <div class="row justify-content-center">
    <div class="col-8 col-6-md text-align-center">
      <div class="card row mb-4 px-3 mx-auto shadow-sm bg-white rounded" style="max-width: 550px">
        <div class="card-details m-3">
          <div class="align-center mt-3">
            <%= raw "<img src=\"https://source.unsplash.com/300x300/?" +
              @bike.bike_type.gsub(/\s/, ',').to_s +
              ",bicycle\" alt=\"bike\" width=\"225\"
              height=\"225\" class=\"rounded float-left align-middle\">" %>
          </div>
          <div class="px-3 mt-3">
            <h2 class="card-title">
            <%= @bike.brand %>
            <%= @bike.bike_type  %>
            <small>(<%= @bike.year %>)</small>
            </h2>
            <div>
            <i class="fas fa-map-marker-alt red"></i> <%= @bike.location %><br>
            <i class="fas fa-arrows-alt-v"></i> <%= @bike.frame_size %>cm frame size<br>
            <% if @bike.frame_size == 1 %>
              <i class="fas fa-user"></i> 1 seater<br>
            <% else %>
              <i class="fas fa-user-friends"></i> 2 seater<br>
            <% end %><br>
              <strong class="blue">$<%= @bike.price %>/hr</strong>
          </div>
        </div>

        </div>

        <div class="m-3">
          <!--  using flatpickr for this
                config in application.js / application.css -->
        <%= simple_form_for [ @bike, @rental ] do |f| %>
          <%= f.input :rental_start,
              as: :string %>
          <%= f.input :rental_end,
              as: :string %>
          <%= f.input :message %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- confirmation page (modal) -->
<div class="container">
  <div class="col-12">

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button action="" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Confirmation</h2>
            <p>Your rental request has been submitted. To check the
              status of your request, please visit your
              <%= link_to "dashboard", dashboard_path  %>
            </p>
          </div>
          <div class="modal-footer">
            <%= link_to "see more bikes", bikes_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <!-- see more bikes -->

    <h2 class="mb-4 mt-4">Other bikes near you</h2>

    <%= render 'shared/bikesgrid' %>
  </div>
</div>


