  <!-- bike details   -->

  <div class="container" style="height: 60vh">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="bike-info-container mt-4 shadow-sm p-3 mb-5 bg-white rounded"
            style="height: 230px">

       <!-- placeholder image - waiting for @bike.photo.key -->
          <div class="float-let align-middle">
            <img src="https://source.unsplash.com/random/300x200" alt="bike"
           style="width: 300px; height: 200px; vertical-align: top"
           class="rounded float-left align-middle">
          </div>

          <div class="bike-info float-left">
            <ul class="p-3">
              <li class="list-unstyled"><strong>type:</strong> <%= @bike.bike_type %></li>
              <li class="list-unstyled"><strong>brand:</strong> <%= @bike.brand %></li>
              <li class="list-unstyled"><strong>year:</strong> <%= @bike.year %></li>
              <li class="list-unstyled"><strong>frame:</strong> <%= @bike.frame_size %></li>
              <li class="list-unstyled"><strong>number of seats:</strong> <%= @bike.seat_count %></li>
              <li class="list-unstyled"><strong>price:</strong> $<%= @bike.price %>/hour</li>
            </ul>
          </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center mt-4 mb-4">
          <%= link_to "message owner", dashboard_path, class: "btn btn-primary" %>
          <button id="checkout" class="btn btn-success ml-2" data-toggle="modal" data-target="#confirmationModal">checkout</button>
        </div>
      </div>
    </div>
  </div>

<!-- confirmation page (modal) -->

  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button action="" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Confirmation</h2>
        <p>Your rental request has been submitted. To check the
          status of your request, please visit your
          <%= link_to "dashboard", dashboard_path  %>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to "see more bikes", bikes_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

    <!-- see more bikes -->

  <h2 class="mb-4 mt-4">Other bikes near you</h2>
    <ul>
      <% @bikes.each do |bike| %>
      <li>Type: <%= bike.bike_type %>
        Brand: <%= bike.brand %>
        Price: $<%= bike.price %>
      </li>
      <% end %>
    </ul>



