  <!-- bike details   -->
<div class="banner" style="padding: 5vh 0 15vh; background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0)), url(https://res.cloudinary.com/ryanbuckleyca/image/upload/v1597859027/Screen_Shot_2020-08-19_at_1.42.12_PM_lcvndv.png);">

  <div class="row justify-content-center">
    <div class="col-8 col-6-md text-align-center">
      <div class="card row mb-4 mx-auto shadow-sm bg-white rounded" style="max-width: 550px">
        <div class="card-details m-3">
          <div class="align-center">
            <img src="https://source.unsplash.com/300x300/?<%= @bike.bike_type.gsub(/\s/, ',').to_s + ",bicycle" %>" alt="bike" width="200" height="200" class="rounded float-left align-middle">
          </div>

          <div class="card-info">
            <ul class="p-3">
              <li class="list-unstyled"><strong>type:</strong> <%= @bike.bike_type %></li>
              <li class="list-unstyled"><strong>brand:</strong> <%= @bike.brand %></li>
              <li class="list-unstyled"><strong>year:</strong> <%= @bike.year %></li>
              <li class="list-unstyled"><strong>frame:</strong> <%= @bike.frame_size %></li>
              <li class="list-unstyled"><strong>number of seats:</strong> <%= @bike.seat_count %></li>
              <li class="list-unstyled"><strong>price:</strong> $<%= @bike.price %>/hour</li>
            </ul>
          </div>
        </div>

        <%= simple_form_for [ @bike, @rental ] do |f| %>
          <%= f.input :rental_start, as: :datetime, :minute_step => 15 %>
          <%= f.input :rental_end, as: :datetime, :minute_step => 15 %>
          <%= f.input :message %>
          <%= f.button :submit %>
        <% end %>
        <div class="card-footer d-flex justify-content-center p-4">
          <%= link_to "message owner", dashboard_path, class: "btn btn-primary" %>
          <button id="checkout" class="btn btn-success ml-2" data-toggle="modal" data-target="#confirmationModal">checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- confirmation page (modal) -->
<div class="container">
  <div class="col-12">

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button action="" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Confirmation</h2>
            <p>Your rental request has been submitted. To check the
              status of your request, please visit your
              <%= link_to "dashboard", dashboard_path  %>
            </p>
          </div>
          <div class="modal-footer">
            <%= link_to "see more bikes", bikes_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <!-- see more bikes -->

    <h2 class="mb-4 mt-4">Other bikes near you</h2>

    <%= render 'shared/bikesgrid' %>
  </div>
</div>


