<!DOCTYPE html>
<html>
  <head>
    <title>Freewheel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header>
      <%= render 'shared/flashes' %>
      <%= render 'shared/navbar' %>
    </header>
    <div class="container">
      <div class="row m-5 justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12"
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
