<!DOCTYPE html>
<html>
  <head>
    <title>Freewheel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header>
      <%= render 'shared/flashes' %>
      <%= render 'shared/navbar' %>
    </header>

    <% if request.env['PATH_INFO'] == "/" %>
    <div class="banner" style="padding: 125px 0; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/nPOtzvGLYW0/1600x900); background-position: bottom">
      <div class="container">
        <h1>Bixi is <strong>boring</strong>! Rent with style by the hour or day!</h1>
        <p>Search for cool bikes near you</p>
        <%= render 'shared/searchbar' %>
      </div>
    </div>
    <% end %>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
